/* Scroll Bar Animations */

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background-color: #f1f1f1;
	border-radius: 140px;
}

::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}

body {
	scroll-behavior: smooth;
}
